<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Universidades</title>
</head>
<body  class="FONDO3">
    <header>
        <a href="index.html"><img src="Captura de pantalla 2025-11-05 145554.png" alt=""> </a>
       <nav>
        
          <ul>
        <li><a href='@Url.Action("LogIn", "Ingreso")'>LogIn</a></li>
        <li><a href='@Url.Action("SignUpSeleccion", "Ingreso")'>SignUp</a></li>
       </ul>
       </nav>
</header>
<main class= "Inicio">

    <div class = "Elección">
   
    <h2> ¿Con que objetivo quieres unirte a UniMatch?</h2>
    <form action = '@Url.Action("SignUp", "Ingreso")' method = "POST">
         <input type="hidden" id="ROL" name="Rol" value= true />
        <input class = "submit" type="submit" value="Aconsejar"/>
    </form>
       <form action = '@Url.Action("SignUp", "Ingreso")' method = "POST">
         <input type="hidden" id="ROL" name="Rol" value= false />
        <input class = "submit" type="submit" value="Informarme"/>
    </form>

</div>

</main>
</body>