<body>
<header></header>
<main class= "SignUpEstudiante">

<div class = "signUP">
   
    <h2> ¿Con que objetivo quieres unirte a UniMatch?</h2>
    <form action = '@Url.Action("SignUp", "Ingreso")' method = "POST">
         <input type="hidden" id="ROL" name="Rol" value= 1 />
        <input class = "submit" type="submit" value="Aconsejar"/>
    </form>
       <form action = '@Url.Action("SignUp", "Ingreso")' method = "POST">
         <input type="hidden" id="ROL" name="Rol" value= 0 />
        <input class = "submit" type="submit" value="Informarme"/>
    </form>

</div>

/*IActionResult SignUpElección(){return View(SignUpSeleccion)   }*/




</main>
</body>