<body>
<header></header>
<main class= "SignUpEstudiante">

<div class = "signUP">
   
    <h2> ¿Con que objetivo quieres unirte a UniMatch?</h2>
    <form action = '@Url.Action("SignUp", "Account")' method = "POST">
         <input type="hidden" id="ROL" name="rol" value= 1 />
        <input class = "submit" type="submit" value="Aconsejar"/>
    </form>
       <form action = '@Url.Action("SignUp", "Account")' method = "POST">
         <input type="hidden" id="ROL" name="rol" value= 0 />
        <input class = "submit" type="submit" value="Informarme"/>
    </form>

</div>

/*IActionResult SignUpElección(){return View(SignUpSeleccion)   }*/



/*IActionResult SignUp(bit Rol){@ViewBag.Rol = Rol 

if(Rol == 1){
return View(SignUpConsejero)}
else{
 return View(SignUpEstudiante)   
}

}*/

</main>
</body>