<body>
<header></header>
<main class= "LogIn">

<div class = "LogIn">
   
    <h2> LogIn</h2>
    <form action = '@Url.Action("LogInGuardar", "Ingreso")' method = "POST">
      
        <input type="name" name ="UserName" />
      
        <input type="password" name = "contrasena"/>
        <input class = "submit" type="submit" value="Login"/>
    </form>

</div>


/*IActionResult LogIn(){return View(IniciarSesión)   }*/
</main>
</body>