<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Universidades</title>
</head>
<body class="FONDO3">
    <header>
        <a href="index.html"><img src="Captura de pantalla 2025-11-05 145554.png" alt=""> </a>
       <nav>
        
          <ul>
        <li><a href="index.html">SignUp</a></li>
        <li><a href="index.html">LogIn</a></li>
       </ul>
       </nav>
</header>
<main class= "Inicio">

    <div class = "LogIn">
    <h2> LogIn</h2>
    <form action = '@Url.Action("LogInGuardar", "Ingreso")' method = "POST">
      
        <input type="name" name ="UserName" />
      
        <input type="password" name = "contrasena"/>
        <input class = "submit" type="submit" value="Login"/>
    </form>

</div>


</main>
</body>