<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Universidades</title>
</head>
<body class="FONDO3" >
    <header>
        <a href="index.html"><img src="Captura de pantalla 2025-11-05 145554.png" alt=""> </a>
       <nav>
        
          <ul>
          <li><a href='@Url.Action("LogIn", "Ingreso")'>LogIn</a></li>
        <li><a href='@Url.Action("SignUpSeleccion", "Ingreso")'>SignUp</a></li>
       </ul>
       </nav>
</header>
<main class= "Inicio">

    <div class = "SignUpC">
   
    <h2> Sign Up</h2>
    <form action = '@Url.Action("SignUpGuardarC", "Ingreso")' method = "POST">
    
            <input type="name" name ="UserName" placeholder="Username" />
           
            <input type="name" name = "nombre" placeholder="Nombre"/>
            
            <input type="name" name = "apellido" placeholder="Apellido"/>
          
            <input type="name" name = "Email" placeholder="Email"/>
           
            <input type="name" name = "universidad" placeholder="Universidad"/>
           
            <input type="name" name = "carrera" placeholder="Carrera"/>
           
            <input type="password" name = "contrasena" placeholder="Contraseña"/>
             <input type="hidden" id="rol" name="rol" value= @ViewBag.Rol />
            <input class = "submit" type="submit" value="SignUp"/>
    </form>

</div>

</main>
</body>