
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Carreras</title>
</head>
<body >
    <header>
        <a href="index.html"><img src="logo.png" alt=""> </a>
       <nav>
        
          <ul>
        <li><a href="index.html">SignUp</a></li>
        <li><a href="index.html">LogIn</a></li>
       </ul>
       </nav>
</header>
<h1 class="titulocarreras">Carreras</h1>
@foreach(Carrera C in @ViewBag.Carreras)
{

<section class= "carreras">
<div  class= "carrerasdiv">
    <img src="@C.fotoCarrera" alt="">
    <p>@C.nombre</p>
    <div class="botonescarreras">    

<div class="botonesp">
                        <button><a href='@Url.Action("Carrerainfo", "Home", new { id = C.idCarrera})'>Información</a></button>
                        <button><a href="#">Chat</a></button>
                    </div>

</div>
</div>

</section>


}
<footer>
</footer>
</body>
*/


