<body>
<header></header>
<main class= "chat">
@foreach(Chat c in Chats){
    @ViewBag.c.mansaje;
     @ViewBag.c.fechaHora;
     @ViewBag.c.FotoUsuario;
     @ViewBag.c.nombreUsuario;
}



</main>
</body>