<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Universidades</title>
</head>
<body class="FONDO" >
    <header>
        <a href="index.html"><img src="Captura de pantalla 2025-11-05 145554.png" alt=""> </a>
       <nav>
        
          <ul>
        <li><a href="index.html">SignUp</a></li>
        <li><a href="index.html">LogIn</a></li>
       </ul>
       </nav>
</header>
<section class= "chats">
    <div class="quedeseaschat"> 
    <h6>¿Sobre que deseas </h6>
    <h6>información?</h6>

    <div class="botoneschat">  
<button ><a  src = '@Url.("UniversidadesC&R")'></a></button >
<button ><a  src = '@Url.("ChatsC&R")'></a></button >
<button >Chats</button>
</div>
</div>
</section>
<footer>
</footer>
</body>