<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Universidades</title>
</head>
<body class="FONDO" >
    <header>
        <a href="index.html"><img src="Captura de pantalla 2025-11-05 145554.png" alt=""> </a>
       <nav>
        
          <ul>
        <li><a href="index.html">SignUp</a></li>
        <li><a href="index.html">LogIn</a></li>
       </ul>
       </nav>
</header>
<section class= "chats">
    <div class="quedeseaschat"> 
    <h6>¿Sobre que deseas </h6>
    <h6>información?</h6>

    <div class="botoneschat">  
<button class="chatbuton"><a  src = '@Url.("UniversidadesC&R")'></a></button >
<button class="chatbuton"><a  src = '@Url.("ChatsC&R")'></a></button >
<button class="chatbuton">Chats</button>
</div>
</div>
</section>
 <footer class="site-footer">
        <div class="footer-inner container">
            <div class="footer-col footer-links">
                <a href="#">Políticas de privacidad</a>
                <a href="#">Términos y condiciones</a>
                <a href="#">Ayuda</a>
                <p class="copyright">© 2025 UniMatch</p>
            </div>

            <div class="footer-col footer-center">
                <p class="madeby">"Hecho por<br>y para estudiantes"</p>
            </div>

            <div class="footer-col footer-social">
                <p class="redes-title">Redes</p>
                <div class="social-icons">
                    <a href="#" aria-label="Instagram"><img src="img/instagram.jpg" alt="Instagram"></a>
                    <a href="#" aria-label="X"><img src="img/x twitter.png" alt="X"></a>
                    <a href="#" aria-label="WhatsApp"><img src="img/whatsapp.png" alt="WhatsApp"></a>
                </div>
            </div>
        </div>
    </footer>
</body>