@{
    ViewData["Title"] = "Index";
}



<body>

<header>
    <!-- Menú hamburguesa -->
    <div class="hamburguesa" onclick="toggleMenu()">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</header>

<!-- Menú de navegación lateral -->
<nav id="menu">
    <ul>
        <li><a href="index.html">Clash Of Clans</a></li>
        <li><a href="index.html">Clash Royale</a></li>
        <li><a href="index.html">Boom Beach</a></li>
        <li><a href="index.html">Hay Day</a></li>
        <li><a href="index.html">Brawl Stars</a></li>
    </ul>
</nav>

<script src="script.js"></script>
</body>
