@{
    ViewData["Title"] = "Index";
}



<body>

<header>
    <!-- Menú hamburguesa -->
    <div class="hamburguesa" onclick="toggleMenu()">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</header>

<!-- Menú de navegación lateral -->
<nav id="menu">
    <ul>
        <li>    
            <div class="hamburguesaOut" onclick="toggleMenu()">
                <div class="linea"></div>
                <div class="linea"></div>
                <div class="linea"></div>
         </div>
        </li>
        <li><a href="index.html"><img src="" alt="(IMG UNIMATCH)"></a></li>
        <li><a href="index.html">Social</a></li>
        <li><a href="index.html">Universidades</a></li>
        <li><a href="index.html">Carreras</a></li>
        <li><a href="index.html">Mi perfil</a></li>
        <li><a href="index.html">Cerrar sesión</a></li>
    </ul>
</nav>

<script src="script.js"></script>
</body>
