<body>
<header></header>
<main class= "LogIn">

<div class = "LogIn">
   
    <h2> LogIn</h2>
    <form action = '@Url.Action("LogInGuardar", "Account")' method = "POST">
        Ingrese el User
        <input type="name" name ="UserName" />
        Ingrese la contraseña
        <input type="password" name = "contrasena"/>
        <input class = "submit" type="submit" value="Login"/>
    </form>

</div>


</main>
</body>