  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
<header></header>
<main>
<section class="Presentacion">
    <h1>¡Bienvenido a   UniMatch!</h1>
    <p>Orientando a jovenes atravez de información y unión para un mejor futuro</p>

</section>
<section class="Informacion">
    <img>
    <h3>Con UniMatch queremos ofrecer un espacio en que personas que se encuentran indecisas sobre la elección de intitución y carrera puedan acceder a información de la facultad de interes y opiniones de personas que pasan por su misma situación. Adaptando la respuesta a la situación personal del usuario</h3>
</section >

<section class="Cards">
    
    <div class="card1" style="width: 18rem;">
        <img src="frases-de-graduacion-bonitas.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Somprender a futuros estudiantes respecto de su decision brindando todas las herramientas posibles es nuestra prioridad, entendemos la frustración detras de hacer una decisión que define mucho de tu vida. Por eso creamos UniMatch para conformar una comunidad donde nadie se sienta perdido.</p>
        </div>
      </div>

      <div class="card2" style="width: 18rem;">
        <img src="happy-female-students-talking-during-a-class-at-un-2023-02-02-18-54-47-utc-1024x683.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Queremos ofrecer un espacio en que personas que se encuentran indecisas sobre la elección de intitución y carrera puedan acceder a información de la facultad de interes y opiniones de personas que pasan por su misma situación. Adaptando la respuesta a la situación personal del usuario  .</p>
        </div>
      </div>



</section>



<section class="Validaciones">


    <div class="validacion1" style="width: 18rem;">
        <img src="" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Facilitó mucho la busqueda de información de Universidad al igual que carrera, un tema que generalmente abruma a muchos adolecentes por no encontrar la información en un mismo lugar-Matías</p>
        </div>
      </div>

      <div class="validacion2" style="width: 18rem;">
        <img src="" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">Me ayudó en mis momentos más dificiles, otorgandome un espacio donde comunicarme con personas que aspiro o que se encuentran en mi misma situación -Valentina</p>
        </div>
      </div>
</section>


</main>
</body>
