Ingrese su opinion de..

<body>
<header></header>
<main >

<div class = "CarreraOpinion">
   
    <h2> ¿Que opinas de la carrera @ViewBag.CarreraNombre?</h2>
    <form action = '@Url.Action("OpinionCarrera", "Account")' method = "POST">
        
        <input type="comment" name ="Opinion" />
     
        <input class = "submit" type="submit" value="Enviar"/>
    </form>
   <a href='@Url.Action("CarreraC&R", "Account")'>Seguir</a>
</div>


</main>
</body>