<body>
<header></header>
<main class= "SignUpEgresado">

<div class = "signUP">
   
    <h2> Sign Up</h2>
    <form action = '@Url.Action("SignUpGuardar", "Account")' method = "POST">
        Ingrese el User
        <input type="name" name ="UserName" />
        Ingrese la Nombre
        <input type="name" name = "nombre"/>
         Ingrese la Apellido
        <input type="name" name = "apellido"/>
        Ingrese el Email
        <input type="name" name = "Email"/>
         Ingrese la Universidad en la que estudió
        <input type="name" name = "universidad"/>
         Ingrese la carrera que estudió
        <input type="name" name = "carrera"/>
        Ingrese la contraseña
        <input type="password" name = "contrasena"/>
        <input class = "submit" type="submit" value="Login"/>
    </form>

</div>
/*SignUpGuardar(parametros){(SessionGuardarDatos)

 int id = BD.RegistrarUsuario(  nombre,  apellido,   contrasena, UserName, Rol, Email, NombreCarrera, NombreFacultad, mai);

  
        HttpContext.Session.SetString("idUser", id.ToString());
         
        return View("ListaTareas");


if{ 
    Rol = 1 ReturnView (LandingConsejero)
} else {return View(LandingEstudiante}

}*/

</main>
</body>