<body>
<header></header>
<main class= "SignUpEstudiante">

<div class = "signUP">
   
    <h2> ¿Con que objetivo quieres unirte a UniMatch?</h2>
    <form action = '@Url.Action("SignUp", "Account")' method = "POST">
         <input type="hidden" id="ROL2" name="rol2" value= 1 />
        <input class = "submit" type="submit" value="Aconsejar"/>
    </form>
       <form action = '@Url.Action("SignUp", "Account")' method = "POST">
         <input type="hidden" id="ROL1" name="rol1" value= 0 />
        <input class = "submit" type="submit" value="Informarme"/>
    </form>

</div>
/*IActionResult SignUpConsejero(bit Rol){@ViewBag.Rol = Rol return View(SignUpConsejero)}*/

</main>
</body>