<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body >
<header>
</header>
<section class= "fotosuni">
 <div  class= "fotosunidiv">
       
        <img src="1.jpg" alt="">
         <button><a href="universidades.cshtml">Información </a> </button>
         <button><a href="universidades.cshtml">Chat </a> </button>
</div>
 <div  class= "fotosunidiv">
       
        <img src="1.jpg" alt="">
         <button><a href="universidades.cshtml">Información </a> </button>
         <button><a href="universidades.cshtml">Chat </a> </button>
</div>
  <div  class= "fotosunidiv">
       
        <img src="1.jpg" alt="">
         <button><a href="universidades.cshtml">Información </a> </button>
         <button><a href="universidades.cshtml">Chat </a> </button>
</div>
 <div  class= "fotosunidiv">
       
        <img src="1.jpg" alt="">
         <button><a href="universidades.cshtml">Información </a> </button>
         <button><a href="universidades.cshtml">Chat </a> </button>
</div>
  <div  class= "fotosunidiv">
       
        <img src="1.jpg" alt="">
         <button><a href="universidades.cshtml">Información </a> </button>
         <button><a href="universidades.cshtml">Chat </a> </button>
</div>
 <div  class= "fotosunidiv">
       
        <img src="1.jpg" alt="">
         <button><a href="universidades.cshtml">Información </a> </button>
         <button><a href="universidades.cshtml">Chat </a> </button>
</div>
 <div  class= "fotosunidiv">
       
        <img src="1.jpg" alt="">
         <button><a href="universidades.cshtml">Información </a> </button>
         <button><a href="universidades.cshtml">Chat </a> </button>
</div>
 <div  class= "fotosunidiv">
       
        <img src="1.jpg" alt="">
         <button><a href="universidades.cshtml">Información </a> </button>
         <button><a href="universidades.cshtml">Chat </a> </button>
</div>
</section>
<footer>
</footer>
</body>