<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css">
    <title>Sign Up - Estudiante</title>
</head>
<body class="FONDO3">
    <header>
        <a href='@Url.Action("Landing", "Home")'><img src="~/Captura de pantalla 2025-11-05 145554.png" alt=""> </a>       
        <nav>
            <ul>
                <li><a href='@Url.Action("SignUpSeleccion", "Ingreso")'>SignUp</a></li>
                <li><a href='@Url.Action("LogIn", "Ingreso")'>LogIn</a></li>
            </ul>
        </nav>
    </header>
    <div class="login-modern-container">
        <div class="login-circle-left"></div>

        <div class="login-circle-right"></div>

        <!-- Formulario de login -->
        <div class="login-modern-form">
            <h1 class="login-modern-title">Sign Up</h1>
       <h2 class="login-modern-subtitle">¡Te damos la bienvenida a UniMatch!</h2>


            <form action='@Url.Action("SignUpGuardarE", "Ingreso")' method="POST">
                 <input type="text" name="nombre" placeholder="Nombre"  class="login-modern-input" required />
                
                <input type="text" name="apellido" placeholder="Apellido" class="login-modern-input" required />
                
                <input type="email" name="gmail" placeholder="Email" class="login-modern-input" required />
                
                <input type="text" name="username" placeholder="Nombre de usuario" class="login-modern-input" required />
                
                <input type="password" name="contrasenia" placeholder="Contraseña" class="login-modern-input" required />
                
                <input type="hidden" name="rol" value="false" />

                <button type="submit" class="login-modern-button">Registrarse</button>
            </form>

        </div>

    </main>
    <footer class="site-footer">
        <div class="footer-inner container">
            <div class="footer-col footer-links">
                <a href="#">Políticas de privacidad</a>
                <a href="#">Términos y condiciones</a>
                <a href="#">Ayuda</a>
                <p class="copyright">© 2025 UniMatch</p>
            </div>

            <div class="footer-col footer-center">
                <p class="madeby">"Hecho por<br>y para estudiantes"</p>
            </div>

            <div class="footer-col footer-social">
                <p class="redes-title">Redes</p>
                <div class="social-icons">
                    <a href="#" aria-label="Instagram"><img src="~/instagram.jpg" alt="Instagram"></a>
                    <a href="#" aria-label="X"><img src="~/x twitter.png" alt="X"></a>
                    <a href="#" aria-label="WhatsApp"><img src="~/whatsapp.png" alt="WhatsApp"></a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>