<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Universidades</title>
</head>
<body class="FONDO0">
    <header>
        <a href="index.html"><img src="Captura de pantalla 2025-11-05 145554.png" alt=""> </a>
       <nav>
        
          <ul>
        <li><a href="index.html">SignUp</a></li>
        <li><a href="index.html">LogIn</a></li>
       </ul>
       </nav>
</header>
<main class= "Landing">
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @TempData["SuccessMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <h2>Arriesgate, Equivocate y Decidí</h2>
    <p>¿Listo para informarte?</p>
    <div>
  
    <a href='@Url.Action("InfoUniversidades", "Home")'>Universidades</a>
    <a href='@Url.Action("InfoCarrera", "Home")'>Carreras</a>
       </div>
   

    </main>
</body>